body {
  background-color: #171a21;
  color: #777;
  font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#chooseyourgame{
	text-align: center;
	font-family: 'Crete Round', serif;
}