body {
    background-color: #171a21;
    color: #777;
    font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

#chooseyourgame h1 {
    text-align: center;
    font-family: 'Radiance', serif;
    font-size: 72px;
    text-transform: uppercase;
    color: #ED3B1C;
    letter-spacing: 8px;
    font-weight: normal;
    margin-top: 54px;
    margin-bottom: 45px;
}

#chooseyourgame img:hover {
    transform: scale(1.5);
}

#artifact a, h1 {
    text-decoration: none;
    text-align: center;
    font-size: 72px;
    font-family: "goudy_trajan_mediummedium", serif;
    color: #bca06d;
    letter-spacing: 4px;
    z-index: 99;
    line-height: 1.4;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
    text-transform: uppercase;
}

#dota2 h1 {
    text-decoration: none;
    text-align: center;
    font-family: 'Radiance', serif;
    font-size: 72px;
    text-transform: uppercase;
    color: #ED3B1C;
    letter-spacing: 8px;
    font-weight: normal;
    margin-top: 54px;
}

#dota2 a {
    text-decoration: none;
}

#artifact-meme h2 {
    text-align: center;
}

#artifact-meme-text {
    text-align: center;
}


#navigatorbar {
    text-align: center;
    display: flex;
    justify-content: center;
}


#navigatorbar a {
    font-family: 'Radapt uiance', serif;
    color: #ED3B1C;
    text-align: center;
}

#navigatoritem :hover {
    color: white;
}

#navigatoritem {
    margin-left: 4px;
    margin-right: 4px;
}

#about {
    text-align: center;
    margin-top: 20px;
    font-family: 'Radiance', serif;
    color: #ED3B1C;
}

#aboutartifacttitle {
    font-family: "goudy_trajan_mediummedium", serif;
    color: #bca06d;
}

#aboutartifacttext {
    font-family: "goudy_trajan_mediummedium", serif;
    color: #bca06d;
}

#hallofshame{
	margin-top:20px;
	margin-bottom:20px;
	display: flex;
    justify-content: space-around;
	flex-wrap: wrap;
}

#hallofshame h4 {
	font-family: 'Radiance-SemiBold';
	font-weight: normal;
	letter-spacing: 1px;
	font-size: 20px;
	color: #FFFFFF;
	text-align: center;
}

#hallofshame img:hover {
    transform: scale(1.1);
}

.ashamedname h3{
	font-family: 'Radiance';
	font-weight: normal;
	font-size: 32px;
	letter-spacing: 3px;
	color: #ED3B1C;
	text-shadow: 1px 1px 1px #000000;
	text-align: center;
}

.ashamedbio{
	font-family: 'Radiance';
	font-size: 18px;
	color: #808080;
	line-height: 34px;
	margin-left: -20px;
	text-shadow: 1px 1px 1px #000000;
	text-align: center;
	display: flex;
	
}

.ashamedbio img{
	height: 100%;
	width: 100%;
}

.ashamedmemes{
	text-align:center;
}

.ashamedmemes h4{
	font-size: 18px;
	padding-bottom: 4px;
	margin-top: -10px;
	display: block;
	text-transform: uppercase;
	font-weight: normal;
	font-family: 'Radiance';
	color: #E0E0E0;
	text-align:center;
	margin: 10px;
}

.memebox{
	margin-top: 10px;
	margin-bottom: 10px;
}

.memebuttons{
	text-align: center;
}

#log_in_form{
	text-align:center;
	margin-top: 10px;
}

#sign_up_form{
	text-align:center;
	margin-top: 10px;
}

#artifactreally{
	display:none;
}

#sign_up_confirm{
	display: none;
	text-align: center;
	font-family: 'Radiance';
	font-weight: normal;
	font-size: 32px;
	color: #ED3B1C;
	text-shadow: 1px 1px 1px #000000;
	text-align: center;
	margin-top: 10px;
}

#log_in_confirm{
	text-align: center;
	font-family: 'Radiance';
	font-weight: normal;
	font-size: 32px;
	color: #ED3B1C;
	text-shadow: 1px 1px 1px #000000;
	text-align: center;
	margin-top: 10px;
}

#incorrectlogin{
	text-align:center;
}
